.dc-data-count {
    margin-top:0 !important;
    padding-bottom: 10px !important;
}

h5 #theDate {
    margin-top:0 !important;
    padding-bottom: 10px !important;
}

h5 a #donors-choose.btn-default.btn-sm  {

    padding-bottom: 20px !important;
}

h5 a #github-code.btn-default.btn-sm {
    padding-bottom: 20px !important;

}


li span {visibility: hidden;}
 .dynatable-disabled-page{
    text-decoration: none !important;
    font-size: 16px;
     font-weight: bold;
    color:grey !important;
}
  .dynatable-page-link{
    text-decoration: none !important;
    font-size: 16px;
     font-weight: bold;
    color:grey !important;
}
  .dynatable-page-break{
     text-decoration: none !important;
    font-size: 16px;
     font-weight: bold;
    color:grey !important;
  }
  .dynatable-page-link dynatable-page-next{
    text-decoration: none !important;
    color:grey !important;
}

.dynatable-active-page{
    background:lightgrey!important;
}

a.dynatable-sort-header{
    color: inherit;
text-decoration: none;}

div#number-projects-nd.dc-chart {
   font-size: 50px;
    padding: 20px 20px 10px 10px;
    height:140px;

}

div#total-donations-nd.dc-chart {
   font-size: 50px;
   padding: 20px 20px 10px 10px;
    height:140px;

}

div#background-info.chart-stage {
    height:150px !important;

}

div#selection-option.chart-stage{
    height:150px !important;
}

.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}



