<!DOCTYPE html>
<html><!--text-->
<head>
    <title>School Donations Dashboard</title>
    <link rel="stylesheet" href="{{ url_for ('static',
         filename='lib/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',
         filename='lib/css/keen-dashboards.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/introjs.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/jquery.dynatable.css') }}">
</head>
<body class="application">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="./">School Donations Dashboard <i><small> by Kathrin Schmitz</small></i></a>
            <button class="intro_button" type="button" style="margin: 10px !important;" autofocus
                    onclick="javascript:introJs().start();">Start Tour!
            </button>
        </div>
        <div class="dc-data-count pull-right" style="color: white;"><span class="filter-count"></span> selected
            out of <span class="total-count"></span> records | <a class="btn-default"
                                                                  style="background-color:transparent; color:white;"
                                                                  href="javascript:dc.filterAll();dc.renderAll();">Reset
                All</a>
        </div>
    </div>
</div>

<div id="outer" class="container-fluid">

    <div class="row">
        <div class="col-sm-12">

            <!--Metric Placeholder-->
            <div class="col-sm-3">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        <strong>Background Information</strong>
                    </div>
                    <div class="chart-stage">
                        <div id="#background-info" data-step="1"
                             data-intro="This is the background info box to this dashboard with links to data source and the source code."
                             style="font-weight: normal" data-position="right"><h5><strong>Today's Date:</strong> <input
                                id="theDate" style="border:none"></h5>
                            <h5><strong>Data Source:</strong> <a href="https://data.donorschoose.org/docs/overview/"
                                                                 class="btn-default btn-sm"
                                                                 style="color:dimgrey; background-color: lightgrey !important;">Donors
                                Choose Org</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <!--Metric Placeholder-->
            <div class="col-sm-5">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        <strong>Selection Options</strong>
                    </div>
                    <div class="chart-stage" id="selection-option"  data-step="2"
                             data-intro="This box offers selection option to manipulate the dashboards data."
                             style="font-weight: normal" data-position="left">
                        <table>
                            <tr>
                                <th><h5><strong>Resource Type: </strong></h5></th><td>
                                    <div id="field-resource" style="padding-left:5px !important;"></div>
                                </td>
                                <th><h5 style="padding-left:5px !important;"><strong>Area Type:</strong></h5></th><td>
                                    <div id="field-area" style="padding-right: 5px !important;"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><h5><strong>Funding Type: </strong></h5></th> <td>
                                    <div id="field-funding" style="padding-left:5px !important;"></div>
                                </td>
                                <th><h5 style="padding-left:5px !important;"><strong> Poverty Level: </strong></h5></th><td>
                                    <div id="field-poverty"style="padding-left:5px !important;"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Metric 1 -->
            <div class="col-sm-2">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        <strong>Total Nbr of Donations</strong>
                    </div>
                    <div class="chart-stage">
                        <div id="number-projects-nd" data-step="3"
                             data-intro="This section is a collection of key performance indicators. A one stop quick view if you will."
                             style="font-weight: normal" data-position="left"></div>
                    </div>
                </div>
            </div>
            <!-- Metric 2 -->

            <div class="col-sm-2">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        <strong>Total Donations in USD</strong>
                    </div>
                    <div class="chart-stage">
                        <div id="total-donations-nd" data-step="4"
                             data-intro="This section is a collection of key performance indicators. A one stop quick view if you will."
                             style="font-weight: normal" data-position="left"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--Charts-->
        <div class="col-sm-12">
            <!-- Time Chart -->
            <div class="row">
                <div class="col-sm-8">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            <strong>Number of Donations</strong>
                            <div id="menu-select" class="pull-right"></div>
                        </div>
                        <div class="chart-stage">
                            <div id="time-chart" data-step="5"
                                 data-intro="This chart shows the number of donations made over the years. The user can select a range of years or use the drop down menu for number of donations made across the various states."
                                 style="font-weight: normal" data-position="right"></div>
                        </div>
                    </div>
                    <!-- USA Map -->
                    <div class="col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                <strong>Donation State Map</strong><a class="btn-default btn-xs pull-right center-block"
                                                                      style="color:dimgrey; background-color: lightgrey !important;"
                                                                      href="javascript:dc.filterAll();dc.renderAll();">Reset</a>
                            </div>
                            <div class="chart-stage">
                                <div id="us-chart" id="time-chart" data-step="6"
                                         data-intro="This is an interactive map, which displays the level of donations as per depth of blue across the various states. The deeper the blue, the higher the donations count was. If the user is hovering over the states the actual donation sum is displayed."
                                         style="font-weight: normal" data-position="right">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            <strong>Origin States of Donations</strong><a class="btn-default btn-xs pull-right"
                                                                          style="color:dimgrey; background-color: lightgrey !important;"
                                                                          href="javascript:dc.filterAll();dc.renderAll();">Reset</a>
                        </div>
                        <div class="chart-stage">
                            <div id="state-row-chart" data-step="7"
                                 data-intro="This bar chart lists the various states and the amounts donated across the states."
                                 style="font-weight: normal" data-position="left"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Row of various Charts-->
    <div class="row">
        <div class="col-sm-12">
            <!-- funding Pie -->
            <div class="col-sm-3">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        <strong>Funding Status</strong><a class="btn-default btn-xs pull-right center-block"
                                                          style="color:dimgrey; background-color: lightgrey !important;"
                                                          href="javascript:dc.filterAll();dc.renderAll();">Reset</a>
                    </div>
                    <div class="chart-stage">
                        <div id="funding-chart" style="text-decoration-color: black;" data-step="8"
                             data-intro="This pie chart shows the status of the donations. Which are either 'completed', 'expired' or 'reallocated'."
                             style="font-weight: normal" data-position="right"></div>
                    </div>
                </div>
            </div>

            <!-- Poverty -->
            <div class="col-sm-3">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        <strong>Poverty Level</strong><a class="btn-default btn-xs pull-right center-block"
                                                         style="color:dimgrey; background-color: lightgrey !important;"
                                                         href="javascript:dc.filterAll();dc.renderAll();">Reset</a>
                    </div>
                    <div class="chart-stage">
                        <div id="poverty-level-row-chart" data-step="9"
                             data-intro="This row chart shows the poverty level categories in comparison."
                             style="font-weight: normal" data-position="right"></div>
                    </div>
                </div>
            </div>
            <!-- Poverty -->
            <div class="col-sm-3">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        <strong>Area View</strong><a class="btn-default btn-xs pull-right center-block"
                                                     style="color:dimgrey; background-color: lightgrey !important;"
                                                     href="javascript:dc.filterAll();dc.renderAll();">Reset</a>
                    </div>
                    <div class="chart-stage">
                        <div id="area-row-chart" data-step="10"
                             data-intro="This row chart shows the areas that have received funding."
                             style="font-weight: normal" data-position="right"></div>
                    </div>
                </div>
            </div>
            <!-- Resources -->
            <div class="col-sm-3">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        <strong>Resources Type</strong><a class="btn-default btn-xs pull-right center-block"
                                                          style="color:dimgrey; background-color: lightgrey !important;"
                                                          href="javascript:dc.filterAll();dc.renderAll();">Reset</a>
                    </div>
                    <div class="chart-stage">
                        <div id="resource-type-row-chart" data-step="11"
                             data-intro="This row chart shows the resources that were invested in."
                             style="font-weight: normal" data-position="left"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--Data view in details-->
        <div class="row">
            <div class="col-sm-12">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        <div class="col-sm-12">
                            <h4>Donations Data Table View</h4>
                            <hr>
                        </div>
                        <div class="chart-stage">
                            <div class="col-sm-12">
                                    <table id="dc-data-table" class="table table-hover" data-step="12"
                                     data-intro="This data table shows all currently pulled in records. The Columns are filterable 'ascending' and 'descending', there is a paging function at the bottom right and a free text search window. On the bottom left hand the selected record count is displayed."
                                     style="font-weight: normal" data-position="center-block">
                                        <div>&nbsp</div>
                                        <thead>
                                        <th data-dynatable-column="date_posted">Date
                                        </th>
                                        <th data-dynatable-column="school_state">State</th>
                                        <th data-dynatable-column="primary_focus_area">Focus Area</th>
                                        <th data-dynatable-column="resource_type">Resource Type</th>
                                        <th data-dynatable-column="funding_status">Funding Status</th>
                                        <th data-dynatable-column="total_donations">Total Donations</th>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

            <script src="{{ url_for ('static', filename='lib/js/jquery.min.js') }}"></script>
            <script src="{{ url_for ('static', filename='lib/js/jquery.dynatable.js') }}"></script>
            <script src="{{ url_for ('static', filename='lib/js/FileSaver.js') }}"></script>
            <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for ('static', filename='lib/js/crossfilter.js') }}"></script>
            <script src="{{ url_for ('static', filename='lib/js/d3.js') }}"></script>
            <script src="{{ url_for ('static', filename='lib/js/dc.js') }}"></script>
            <script src="{{ url_for ('static', filename='lib/js/queue.js') }}"></script>
            <script src="{{ url_for ('static', filename='lib/js/intro.js') }}"></script>
            <script src="{{ url_for ('static', filename='lib/js/keen.min.js') }}"></script>
            <script src="{{ url_for ('static', filename='js/graph.js') }}"></script>
            <script src="{{ url_for ('static', filename='js/accordion.js') }}"></script>

</body>
</html>